*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
html{
	font-size:62.5%;
}
body{
	font-size:1.2rem;
	min-width:320px;
}
.clearfix::after{
	content:'';
	clear:both;
	display:block;
}



header{
	width:100%;
}
header nav{
	padding:0 1.5rem;
}
.header-top{
	box-sizing:border-box;
	padding:0 2rem;
	width:100%;
	height:3rem;
	background-color: #333;
}
.tel{
	float:left;
	color:#fff;
	line-height:3rem;
}
.word{
	float:right;
	color:#fff;
	line-height:3rem;
}
@media screen and (max-width:420px){
	.tel,.word{
		display:none;
	}
}


.header-title{
	background-color: #eee;
	line-height:5rem;
}
.header-title p{
	float:left;
	width:10rem;
	height:5rem;
}
.header-title p img{
	width:100%;
}
.header-title ul{
	float:right;
	margin-right:2rem;
}
.header-title ul li{
	display:inline-block;
	font-size:1.5rem;
}
.header-title ul li a{
	border-right:1px solid #ccc;
	color:#000;
	padding:0 1rem;
}
.header-title ul li:last-child a{
	border-right:none;
	padding-right:none;
}
@media screen and (max-width:700px){
	.header-title p{
		float:none;
		margin:0 auto;
	}
	.header-title ul{
		float:none;
		text-align:center;
		width:100%;
	}
	.header-title ul li{
		display:inline-block;
	}
	.header-title ul li:nth-of-type(2){
		display:none;
	}
}
@media screen and (max-width:420px){
	.header-title ul li:nth-of-type(1),
	.header-title ul li:nth-of-type(2){
		display:none;
	}
}


.main{
	width:100%;
}
.main-top{
	width:100%;/*
	height:3rem;*/
	background-color: #333;
}
.main-top-cont{
	overflow:hidden;
	width:90%;
	color:#fff;
	margin:0 auto;
	font-size:1.6rem;
	line-height:3rem;
}
.main-top-cont p{
	display:inline-block;
	padding-right:10px;
}
.main-top-cont p span{
	display:inline-block;
	color:#2d78f4;
	width:2.5rem;
	line-height:1.5rem;
	background-color: #fff;
	margin:0 0.5rem;
	padding:0 0.5rem;
	text-align:center;
	border-radius:0.5rem;
	box-shadow:-2px -1px 4px #000;
}
.main-top-cont p:last-child{
	float:right;
}
@media screen and (max-width:700px){
	.main .main-top .main-top-cont p{
		font-size:1.2rem;
	}
}

@media screen and (max-width:420px){
	.main .main-top .main-top-cont p{
		display:block;
		text-align:center;
		width:100%;
		padding:0 0.5rem;
		float:none;
	}
}


/* 轮播图区域 */
.lbt {
    position: relative;
    margin-bottom: 30px;
}
.slider-list{
    width: 100%;
    height: 300px;
}
.slider-list .slider{
    position: relative;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 0 100px;
    background-size: cover;
    background-position: center;
}
.slider-list .slider:nth-of-type(1) {
    background-image: url('../img/bg-1.jpg');
}
.slider-list .slider:nth-of-type(2) {
    display: none;
    background-image: url('../img/bg-2.jpg');
}
.slider-list .slider:nth-of-type(3) {
    display: none;
    background-image: url('../img/bg-3.jpg');
}
.slider-list .slider .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.slider-list .slider .title p{
    font-size: 16px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.slider-list .slider:nth-of-type(1) .title p{
    font-size: 20px;
}
.slider-btn{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
}
.slider-btn:after{
    content: '';
    clear: both;
}
.slider-btn .left-btn{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-image: url('../img/left-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-btn .right-btn{
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url('../img/right-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-order{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.slider-order ul{
    display: inline-block;
    
}
.slider-order ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #666;
    margin-right: 20px;
}
.slider-order ul li:last-of-type{
    margin-right: 0;
}
.slider-order ul li.active{
    background: #fff;
}
@media screen and (max-width:420px){
	.slider-list {
        height: 200px;
    }
    .slider-list .slider{
        height: 200px;
    }
}

.feature{
	width:90%;
	display:flex;
	margin:0 auto;
	justify-content:space-between;
}
.feature .item{
	flex-grow:1;
	width:10rem;
	margin-right:2rem;
	box-shadow:0 0 4px #aaa;
}
.feature .item:last-child{
	margin:0;
}
.feature .item h3{
	display:inline-block;
	font-size:3rem;
	color:#2d78f4;
	padding:1rem;
	vertical-align:middle;
}
.feature .item p{
	display:inline-block;
	padding:1rem;
	color:#ccc;
	padding:1rem 0;
	font-size:1.6rem;
	vertical-align:middle;
}
@media screen and (max-width:700px){
	.feature .item h3,
	.feature .item p{
		display:block;
		text-align:center;
	}
}
@media screen and (max-width:420px){
	.feature{
		display:block;
	}
	.feature .item{
		width:100%;
		margin:1rem 0;
	}
	.feature .item h3,
	.feature .item p{
		display:inline-block;
		text-align:left;
	}
}

.product{
	display:flex;
	width:90%;
	box-shadow: 0 0 4px #ccc;
    border-top: 2px solid #2d78f4;
    background: #f5f9fa;
    margin:2rem auto;
}
.product .pro-title{
	display:inline-block;
	width:20%;
	color:#635c51;
	text-align:center;
}
.product .pro-title h2{
	margin-top:5rem;
	font-size:2.5rem;
}
.product .pro-title p{
	margin:1rem 0;
}
.product .pro-cont{
	display:inline-block;
	width:80%;
	background-color: #fff;
}
.product .pro-cont .pro-item{
	display:flex;
	width:100%;
	border-bottom:1px solid #ccc;
	line-height:8rem;
}
.pro-item div{
	border-left:1px solid #eee;
}
.pro-item .pro-item-title{
	width:30%;
}
.pro-item-title h3{
	text-align:center;
	line-height:8rem;
}
.pro-item-info{
	width:50%;
	font-size:0;
}
.pro-item-info p{
	font-size:1.4rem;
	display:inline-block;
	width:50%;
	text-align:center;
}
.pro-item-info p span{
	width:100%;
	font-size:3rem;
	color:#2d78f4;
}
.pro-item .buy{
	width:20%;
	text-align:center;
}
.pro-item .buy a{
	display:block;
	width:90%;
	background-color:#2d78f4;
	color:#fff;
	margin:2rem auto;
	line-height:4rem;
	border-radius:5px;
}
@media screen and (max-width:700px){
	.product{
		display:block;
	}
	.product .pro-title{
		width:100%;
	}
	.product .pro-title h2,
	.product .pro-title p{
		display:inline-block;
	}
	.product .pro-title h2{
		margin:2rem 0;
	}
	.product .pro-cont{
		width:100%;
	}
}
@media screen and (max-width:420px){
	.pro-cont .pro-item{
		flex-wrap:wrap;
	}
	.pro-cont .pro-item .pro-item-title{
		width:40%;
	}
	.pro-cont .pro-item .pro-item-info{
		width:59%;
	}
	.pro-cont .pro-item .buy{
		width:100%;
		border:none;
		border-top:1px solid #eee;
	}
	.pro-cont .pro-item .buy a{
		margin:1rem auto;
	}
}

.main-footer{
	width:100%;
	border-top:2px solid #ccc;
	padding:3rem 0;
}
.main-footer .footer-cont{
	width:90%;
	margin:0 auto;
	display:flex;
}
.footer-cont p{
	width:20%;
	margin-right:2rem;
}
.footer-cont p img{
	width:100%;
}
.footer-cont ul{
	width:20%;
	margin-right:2rem;
}
.footer-cont ul:last-child{
	margin-right:0;
}
.footer-cont ul li{
	margin:0.5rem 0;
	line-height:2.4rem;
}
.footer-cont ul li.title{
	font-size:1.6rem;
	line-height:3rem;
}
@media screen and (max-width:700px){
	.main-footer .footer-cont p{
		display:none;
	}
	.main-footer .footer-cont ul{
		width:25%;
	}
	.main-footer .footer-cont ul li.title{
        font-size: 1.6rem;
    }
    .main-footer .footer-cont ul li{
        font-size: 1.4rem;
    }
}
@media screen and (max-width:420px){
	.main-footer .footer-cont ul li.title{
		font-size:1.4rem;
	}
	.main-footer .footer-cont ul li{
		font-size:1.2rem;
	}
}

footer{
	width:100%;
	text-align:center;
	padding:3rem 0;
	background-color: #eee;
	color:#aaa;
}
